:root {
	--primary-font: 'EB Garamond', serif;
	--secondary-font: 'Heebo', sans-serif;
	--primary-font-weight: 400;
	--primary-color: #333;
	--ink: #2D2D2D;
	--squid: #191818;
	--squid-ink: #1E1C1C;
	--paper: #efefef;
	--dark-gray: #5E5E5E;
	--mid-gray: #4C4C4C;
	--light-gray: #9A9A9A;
	--faint-gray: #ECECEC;
	--lighter-color: #cdcdcd;
	--link-color: #970E53;
	--apple-blossom: #872d30;
	--faded-blossom: rgba(135, 45, 48, .9);
	--royal-violet: #402053;
	
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	background-color: var(--faint-gray);
}

section,
article {
	display: inline;
}

/* HEADER */

.header {
	background-color: var(--squid-ink);
	margin: 0;
	padding: 0;
	min-height: 105px;
}

.branding {
	margin: 0;
	padding: 0;
}

.branding a img {
	max-width: 500px;
	margin: 0 auto;
}

@media only screen and (min-width: 600px) {
	
	.header {
		height: 100%;
		padding: 1em 0;
	}
	
	.branding {
		margin: 0;
	}	

	.branding a img {
		margin: 0;
	}
}

/* NAVIGATION */

.navbar {
	padding-bottom: 10px;
}

.main-nav {
	list-style-type: none;
	display: none;
	margin-left: 0;
}

.nav-links,
.logo {
	text-decoration: none;
	color: var(--paper);
}

.logo {
	display: inline-block;
	max-width: 160px;
	margin-top: 20px;
	margin-left: 20px;
}

.main-nav li {
	text-align: center;
	margin: 15px auto;arginffff
}

.navbar-toggle {
	position: absolute;
	top: 12px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
}

.read-more {
	font-style: italic;
}

.active {
  display: block;
}


@media only screen and (min-width: 600px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		align-items: center;
	}
	
	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 25px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 0.7em;
		font-weight: 300;
		
    }
    .logo {
		max-width: 220px;
		margin-left: 3em;
		margin-top: 0;
    }
	
   .navbar-toggle {
       display: none;
    }
	
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	list-style-type: none;
}

.menu li a {
	display: block;
	padding: 15px 15px;
}

.toggle {
	order: 1;
	font-size: 20px;
}

.item.button {
	padding: 9px 5px;
	order: 2;
}

.item {
	padding: 10px;
	order: 3;
	width: 100%;
	text-align: center;
}

.item:not(.button) a:hover,
.item a:hover::after {
	color: #ccc;
}

.active .item {
	display: block;
}

.button .secondary {
	border-bottom: 1px #444 solid;
}



@media only screen and (min-width: 600px) {
	.menu {
		margin-left: 3em;
	}
	
}

.navbar-item {
	display: inline-block;
	text-decoration: none;
	padding-right: 1.2em;
	color: var(--primary-color);
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 300;
}

.navbar-item:last-child {
	padding-right: 0;
}

a.navbar-item:hover,
.active-menu {
	color: var(--link-color);
	text-decoration: underline;
}

/* FOOTER */

footer {
	background-color: var(--faint-gray);
}