.container {
	display: grid;
	max-width: 800px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"head-matter head-matter head-matter head-matter"
	"main-content main-content main-content main-content";
	gap: 1em;
	padding: 1em;
	margin: 0 auto;
}


.container.no-grid {
	display: block;
	text-align: center;
	max-width: 500px;
}

.container.no-grid h1 {
	font-size: 2em;
	margin-top: 36px;
	margin-bottom: 16px;
}

.container.no-grid p {
	font-size: 0.833em;
	color: var(--mid-gray);
	font-style: italic;
	font-weight: 300;
	padding-bottom: 0;
	
}

.container.no-grid p + p,
.container.no-grid .head-matter p + p {
	padding-bottom: 60px;
}


.frontpage {
}

.course-container {
	display: grid;
	grid-template-areas:
	"hero-image"
	"hero-content"
	"featured-content"
	"viewing"
	"reading"
	"assignment"
	"contribution"
	;
	padding: 0 2em;
}

.fp-cell {
	margin: 1em;
	margin-left: 0;
	height: 92%;
}


.hero-image {
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	max-height: 50vh;
	max-width: 600px;
	object-fit: contain;
}

.course-container > .hero-image {
	grid-area: hero-image;
	max-height: 100%;
	margin: 0;
	padding: 2em 0;
	overflow-x: hidden;
}
.course-container > .hero-content {
	grid-area: hero-content;
	align-self: center;
}

.course-container > .hero-content p {
	font-size: 1.2em;
}

.course-container > .hero-content p.format {
	font-size: 0.833em;
}


.course-container > .featured-content {
	grid-area: featured-content;
	padding-bottom: 1em;
}

.course-container > .viewing {
	grid-area: viewing;
	padding-bottom: 1em;
}

.course-container > .reading {
	grid-area: reading;
	padding-bottom: 1em;
}

.course-container > .assignment {
	grid-area: assignment;
	padding-bottom: 1em;
}


.course-container > .contribution {
	grid-area: contribution;
	padding-bottom: 1em;
}

.course-container .ruler {
	border-top: 1px solid var(--light-gray);
}

.course-container .format {
	margin: 0;
	margin-top: 1em;
	margin-bottom: 0.25em;
	padding-bottom: 3px;
	font-family: var(--secondary-font);
	font-size: 0.833em;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
}

.course-container .format i {
	padding-right: 0.5em;
}

.course-container h1 {
	margin: 0;
	padding: 0;
	text-align: left;
}

.course-container h2 {
	font-size: 1.7em;
	line-height: 1.1;	
	font-weight: 500;
	margin: 0;
	text-align: left;
	font-style: normal;
}

.course-container p {
	font-size: 1.1em;	
	font-weight: 300;
	margin-right: 2em;
	margin-top: 1em;
}

.course-summary > ul {
	padding-left: 0;
	list-style-type: none;
}

.course-summary > ul li {
	position: relative;
	padding-left: 1.5em;
	padding-bottom: 12px;
	line-height: 1em;
}

.course-summary > ul li:before,
.course-summary > ul li:after {
	
	position: absolute;
	left: 0;
	top: 28%;
	transform: translateY(-50%);
	width: 1.5em;
	text-align: center;
}

.course-summary > ul li:before {
	color: var(--ink, inherit);
	opacity: 1;
	opacity: var(--fa-primary-opacity, 1.0);
}

.course-summary > ul li:after {
	font-family: "Font Awesome 5 Duotone";
	font-weight: 900;
	font-size: 9px;

	color: var(--mid-gray, inherit);
	opacity: var(--fa-secondary-opacity, 0.4);
}


.course-summary > ul li::after {
	content: "\f111";
}

@media only screen and (min-width: 600px) {
	.course-container {
		max-width: 1200px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		". hero-image hero-image hero-image hero-image hero-image . hero-content hero-content hero-content hero-content . "
		". featured-content featured-content featured-content featured-content viewing viewing viewing reading reading reading ."
		". assignment assignment assignment assignment assignment contribution contribution contribution contribution contribution ."
		;
		gap: 0;
		padding: 1em;
		margin: 0 auto;
	}
	
	.left-border {
		padding-left: 1em;
		border-left: 1px solid var(--light-gray);
	}
	
}

ul.breadcrumbs {
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 12px;
/*	background-color: #741E25; */
	border-bottom: 1px solid var(--faint-gray);
}

ul.breadcrumbs li,
ul.breadcrumbs li a {
	display: inline;
	text-transform: uppercase;
	font-family: var(--secondary-font);
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 2px;
	color: var(--light-gray);
}

ul.breadcrumbs li:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f054";
  padding-left: 2px;
  padding-right: 2px;
  color: var(--light-gray);
}

ul.breadcrumbs li:first-child:before {
	content: "";
}

ul.breadcrumbs li a:hover {
	color: var(--link-color);
}


.head-matter {
	grid-area: head-matter;
}

.social-links {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.byline {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.visual-sig img {
	max-height: 50px;
}

.author,
.twitter-handle,
.visual-sig {
	order: 1;
	padding-right: 9px;
}

.twitter-handle {
	font-size: 0.833em;
}

.twitter-handle a {
	color: var(--link-color);
}

.meta-block {
	display: flex;
	justify-content: center;
	align-items: center;
}


.meta-left,
.meta-right {
	margin: 1em;
	padding-right: 20px;
}

p.meta-left,
p.meta-right {
	font-size: .8333em;
}

.main-content {
	grid-area: main-content;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 3em;
}

.summary {
	text-align: center;
}


h1.section::after {
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
	padding-top: 30px;
	content: "";
	width: 100px;
	border-bottom: 1px solid rgb(50,50,50, .5);	
}


.footer {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas:
	"teaser"
	"links"
	"privacy";
	gap: 1em;
	padding: 1em;
	margin: 0 auto;
}

@media only screen and (min-width: 600px) {
	.footer {
		display: grid;
		max-width: 800px;
		grid-template-columns: 5fr 2fr 2fr;
		grid-template-rows: auto;
		grid-template-areas:
		"teaser . links"
		"privacy privacy privacy";
		gap: 1em;
		padding: 1em;
		margin: 0 auto;
	}	
}

.footer h2 {
	font-style: normal;
}

.teaser {
	grid-area: teaser;
}

.teaser h2,
.links h2 {
	font-size: 0.833em;
	text-transform: uppercase;
}

.teaser h3 {
	font-size: 1.2em;
}

.teaser p{
	font-size: 1em;
	line-height: 1.3;
}

.links {
	grid-area: links;
}


.privacy {
	grid-area: privacy;
	display: flex;
}

.privacy p {
	font-size: 0.83em;
}

.privacy p span { order: 1; padding-right: 12px;}