<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
	  {{ if .Site.Params.gtm_id}}<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{ end }}
    {{- partial "header.html" . -}}
    <div id="content">{{ block "main" . }}{{ end }}</div>
    {{- partial "footer.html" . -}}
	{{ template "_internal/google_analytics.html" . }}
	{{ template "_internal/google_analytics_async.html" . }}
	<script src="{{ "/js/script.js" | relURL }}"></script>
  </body>
</html>
