{{ define "main" }}
	<div class="bg">
		<section>
			<img class="hero-image" {{ with .Params.cover_image }}src="/images/{{ . }}" {{ end }} />
			<article class="container">
				<div class="head-matter">
					{{ $permalink := .Permalink }}
					{{- with .Params.images -}}
					    {{- $image := (index . 0) -}}
						<a href="{{ $permalink }}">						
						<img src="{{ $image }}" class="cover-image">
						</a>
					{{- end }}
					
					{{ with .Params.pre_head }}<p class="single-pre">{{ . }}</p>{{ end }}
					<h1>{{ .Title }}</h1>
					{{ if (not (isset .Params "show_social")) | or (eq .Params.show_social true )}}
					<div class="social-links">
						{{ partial "share-buttons.html" . }}					
					</div>
					{{ end }}
					<div class="main-content">
					{{ .Content }}
			
				</div>
			</article>
		</section>
	</div>
{{ end }}