{{ define "main" }}
	<div class="bg">
		<section>
			<div class="band">
					{{ .Content }}
					{{ $pods := (where $.Site.RegularPages "Section" "podcasts").Reverse }}
					{{ range $pods }}
					<div class="podcast-summary">
						<a href="{{ .RelPermalink }}" class="card">
							<article>
					{{ with .Params.pre_head }}<p class="single-pre" style="padding-bottom: 2em;">{{ . }}</p>{{ end }}
					{{ if .Params.images }}
					{{ $image := index ( .Params.images ) 0 }}
					<img src="{{ $image }}" style="padding-bottom: 2em;">
					{{ end }}
					<h1>{{ .Title }}</h1>
					<p>{{ .Params.teaser }}</p>
				</article>
					</a>
					</div>
					{{ end }}
			</div>
		</section>
	</div>
{{ end }}