{{ define "main" }}

	<div class="bg">
		{{ partial "breadcrumb.html" . }}
	
		<section>
			<div class="container no-grid">
    <h1>Get in Touch</h1>
    <p>{{ .Content }}</p>

<form name="contact" method="POST" data-netlify-recaptcha="true"  data-netlify="true">
    <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </p>
	<div class="form-fields">
		<div class="form-row">
			<div class="field-container">
			<label class="form-item">First Name:</label><input type="text" name="firstname" class="form-item" />				
			</div>
			<div class="field-container">
			<label class="form-item">Last Name:</label><input type="text" name="lastname" />  
				
			</div>
			
		</div>
    <label>Email:</label><input type="email" name="email" />
</div>
  <div data-netlify-recaptcha="true" class="recaptcha"></div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
</div>
		</section>
	</div>
{{ end }}