{{ partial "head.html" . }}
<body>
	  {{ partial "header.html" . }}
	  {{ partial "breadcrumb.html" . }}
  <section id="main" class="course-container frontpage">
	  {{ $hero := print .Params.hero }}
	  {{ with .GetPage $hero }}
	  <div class="hero-image">
	  	  {{ with .Params.hero_image }}<img src="{{ . }}" />{{ end }}
	  </div>
	  <div class="hero-content">
	  	{{ with .Params.slug }}<p class="format">{{ . }}</p>{{ end }}
		<a href="{{ .Permalink }}">{{ with .Title }}<h1>{{ . }}</h1>{{ end }}</a>
		{{ with .Params.teaser }}<p>{{ . }}</p>{{ end }}
		<a href="{{ .Permalink }}" class="read-more">
			<p><i class="fas fa-arrow-right"></i>&nbsp;&nbsp;{{ with .Params.link_title }}{{ . }}{{ else }}Read more{{ end }}</p></a>
	  </div>
	  {{ end }}
	  
	  <div class="featured-content ruler">
		  <div class="fp-cell">
		  {{ $mlp := print .Params.mid_left }}
		  {{ with .GetPage $mlp }}
		  {{ partial "session_summary.html" . }}
		  {{ end }}
		  </div>
	  </div>
	  
	  {{ $mcp := print .Params.mid_center }}
	  {{ with .GetPage $mcp }}
	  <div class="viewing ruler">
		  <div class="fp-cell left-border">
		  {{ partial "session_summary.html" . }}
		  </div>
	  </div>
	  {{ end }}	  	
	  
	  {{ $mrp := print .Params.mid_right }}
	  {{ with .GetPage $mrp }}
	  <div class="reading ruler">
		  <div class="fp-cell left-border">
		  {{ partial "session_summary.html" . }}
		  </div>
	  </div>
	   {{ end }}
	  <div class="assignment ruler">
		  <div class="fp-cell">
		{{ $blp := print .Params.bot_left }}
		{{ with .GetPage $blp }}
		  {{ partial "session_summary.html" . }}
		{{ end }}
		</div>
	  </div>
		{{ $brp := print .Params.bot_right }}
		{{ with .GetPage $brp }}
	  <div class="contribution ruler">
		  <div class="fp-cell left-border">
		  {{ partial "session_summary.html" . }}
	  </div>
	  </div>
		{{ end }}	  
  </section>

</body>
</html>
